.folder > summary {
    list-style-type: "\1F4C1";
  }
  .folder[open] > summary {
    list-style-type: "\1F4C2";
  }
  .folder > summary fieldset {
    display: inline-flex;
  }
  .dragover {
    background-color: var(--color-surface-deep);
  }

  *[aria-grabbed="true"] > form:not([data-drop="true"]), *[aria-grabbed="true"] > form > details > summary {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
  }
  #file-handler {
    height: 100%;
  }
  #file-handler ol {
    list-style-type: none;
    padding: 0;
    flex: 1;
    padding-left: var(--space-indent);
    margin-bottom: var(--space-indent);
  }
  #file-handler li {
    list-style-type: none;
    padding: 0;
  }
  #file-handler *[data-root="true"] > ol {
    padding-left: 0;
  }
  #file-handler form {
    display: flex;
  }
  #file-handler form > * {
    flex: 1;
  }
  #file-handler [draggable="true"] > form menu {
    display: none;
  }
  #file-handler [aria-grabbed="true"] > form > details > summary > div > fieldset > menu,
  #file-handler [aria-grabbed="true"] > form > fieldset > menu
  {
    display: inline-flex;
  }
  #file-handler menu {
   display: inline-flex;
   --spacing: var(--space-inner);
   margin:0;
   padding:0;
  }
  #file-handler menu button {
    font-weight: bolder;
  }
  #file-handler form label {
    display: inline-flex;
  }
  #file-handler form summary > * {
    display: inline-flex;
    width: calc(100% - 22px);
  }
  #file-handler form summary label {
    pointer-events: none;
  }
  #file-handler form label + fieldset, #file-handler form input + fieldset {
    flex-grow: 0;
  }
  #file-handler form input {
    width: 100%;
  }
  #file-handler label[name="file-type"] {
    --spacing: var(--space-on-input-h);
  }
  #file-handler output[name="file-type-menu"] menu {
    display: inline-flex;
    flex-direction: column;
    padding: var(--space-inner);
    background: var(--color-surface);
  }
  #file-handler > details:not([open]) aside {
    display: none;
  }