:root {
 /* main */
--space-0-0: 0.125rem;
--space-0-1: 0.25rem;
--space-0-2: 0.5rem;
--space-0-3: 0.75rem;
--space-0-4: 1rem;
--space-0-5: 1.5rem;
--space-0-6: 2rem;
--space-0-7: 3rem;
--space-0-8: 4rem;
--space-0-9: 5rem;
--space-0-10: 7rem;
--space-0-11: 10rem;

}

:root {
  --space-outer: var(--space-0-4);
  --space-inner: var(--space-0-1);
  --space-indent: var(--space-0-5);
  --space-on-input-v: var(--space-0-2);
  --space-on-input-h: var(--space-0-1);
}
